@import "/src/styles/Global.scss";

.wrap {
  display: flex;
  justify-content: center;
  background-color: #fff;
  min-height: 1000px;

  .box {
    display: flex;
    justify-content: space-between;
    width: $width-base;
    margin-top: 30px;

    .main {
      width: 1200px;
      // background-color: red;

      .head {
        margin-top: 10px;
        margin-bottom: 70px;
        display: flex;
        justify-content: space-between;

        .area {
          display: flex;
          justify-content: space-between;
          width: 200px;

          .subCategory {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #c2c2c2;
            border-radius: 5px;
            padding: 8px 15px;
          }

          .price {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #c2c2c2;
            border-radius: 5px;
            padding: 8px 15px;
          }
        }

        .writeBtn {
          display: flex;
          width: 60px;
          justify-content: space-between;
          padding: 8px 15px;
          border: 1px solid #c2c2c2;
          border-radius: 5px;
          text-decoration: none;
          color: #000;

          img {
            width: 20px;
          }
        }
      }

      .posts {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        grid-gap: 20px;
      }
    }
  }
}
