@import "src/styles/Global.scss";

.wrap {
  height: 430px;
  background-color: #fff;
  margin-top: 30px;

  .box {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .link {
      width: 100%;
      height: 60px;
      border-bottom: 1px solid #d8d8d8;
      display: flex;
      justify-content: center;
      align-items: center;

      .menu {
        width: $width-base;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          text-decoration: none;
          font-weight: 900;
          color: #000;
        }

        .menuList {
          display: flex;
          justify-content: space-between;

          p {
            margin: 0 20px;
            color: #d8d8d8;
          }
        }

        .partner {
          a {
            display: flex;
            align-items: center;

            svg {
              margin-left: 5px;
            }
          }
        }
      }
    }

    .main {
      display: flex;
      width: $width-base;
      height: 300px;
      flex-direction: column;
      justify-content: space-around;

      p {
        color: #6d6d6d;
        font-weight: bold;
        font-size: 15px;
      }

      span {
        margin: 0 10px;
        color: #d8d8d8;
      }
    }
  }
}
