@import "src/styles/Global.scss";

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f5;

  .box {
    width: $width-base;
    display: flex;
    justify-content: space-between;

    div:nth-child(3) {
      width: 180px;
    }

    .category {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #000;
      text-decoration: none;

      svg {
        margin: 0 5px;
      }

      p {
        font-weight: bold;
      }
    }

    .etc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 400px;

      a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
      }
    }
  }
}
